* { 
    box-sizing: border-box; 
}

@font-face {
    font-family: 'Geist';
    font-weight: 400;
    font-style: normal;
    src: url("../font/Geist-Regular.woff2") format("woff2");
  }

@font-face {
    font-family: 'Tiempos Fine';
    src: url('../font/TiemposFine-Light.woff2') format('woff2'),
        url('../font/TiemposFine-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

html {
    padding: 0;
    margin: 0;
}

body { 
    font-family: "Geist", sans-serif;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-size:calc(10px + 1.5vw);
    line-height: calc(10px + 1.5vw);
    cursor: none;
    overflow-x: hidden;
}

body.dark {
    background-color: #1f1f1f;
    background-image: url(../img/bg-dark.png);
}

body.light {
    background-color: #ffffff;
    background-image: url(../img/bg-light.png);
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

/* */

a { color: inherit; }

img.img-full {
    width: calc(100% + 48px);
    height: calc(100% + 48px);
    margin: -24px;
    object-fit: cover;
}

/* Page */

.page {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 16px;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 24px;
}

/* Accordion */

.accordion .panel {
    width: 100%;
    margin: 0.5em 0;
}

.accordion .panel a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 1em 1em 1em 2em;
    position: relative;
}

.accordion .panel a::before,
.accordion .panel a::after {
    content: "";
    position: absolute;
    top: 1em;
    right: auto;
    width: 2em;
    height: 2em;
    background-image: url(../img/arrow-right-accent.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.25em;
    transition: all 0.2s ease-in-out;
} 

.accordion .panel a::before {
    opacity: 0;
    left: -2em;
}

.accordion .panel a::after {
    opacity: 1;
    left: 0;
}

.accordion .panel a:hover::before {
    opacity: 1;
    left: 0;
}

.accordion .panel a:hover::after {
    opacity: 0;
    left: 2em;
}

.accordion .panel.active a::before {
    opacity: 1;
    left: 0;
    transform: rotateZ(90deg);
    background-position: center bottom;
}

.accordion .panel.active a::after {
    opacity: 0;
    left: 2em;
}

.accordion .panel a > span:first-child {
    flex-grow: 1;
    font-size: 1.3em;
    line-height: 1.2em;
    font-family: 'Tiempos Fine';
    color: #001EFF;
}

.accordion .panel a > span:nth-child(2) {
    color: #1f1f1f85;
    font-size: 1em;
    line-height: 1.3em;
}

.accordion .panel div {
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    max-height: 0;
    margin-bottom: 0;
    padding-left: 2em;
    border-bottom: 1px solid #1f1f1f00;
    border-bottom: 1px solid #1f1f1f30;

}

.accordion .panel.active div {
    max-height: 600px;
}

.accordion .panel div p {
    color: #1f1f1f85;
    width: 100%;
    margin-bottom: 2em;
    font-size: 1em;
    line-height: 1.3em;
}

/* Overlay */

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1f1f1fe9;
    z-index: 9999;
    display: none;
    text-align: center;
    padding-top: 2em;
}

#modal {
    border-radius: 16px;
    overflow: hidden;
    position: absolute;
    width: 80vw;
    height: 0;
    padding-bottom: 45%;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Transitions */

.page-transition {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.page-transition.fade-in {
    opacity: 1;
}

.page-transition.fade-out {
    opacity: 0;
}

/* Cursor */

#cursor-andrea,
#cursor-animation {
    position: absolute;
}

#cursor-animation {
    z-index: 9998;
}

#cursor-andrea {
    z-index: 9997;
}

#cursor-animation {
   width: 128px;
   height: 128px;
   transform: translate(-50%, -50%);
}

#cursor-animation img {
    width: 100%;
    height: auto;
 }

#cursor, #curosor-link {
    position: fixed; 
    pointer-events: none; 
    width: 32px;
    height: 32px;
    transform: translate(-50%, -50%); 
    z-index: 9998; 
}

/* Button */

a.button {
    display: inline-block;
    font-size: 1em;
    padding: 0.75em 1.5em;
    border-radius: 4em;
    border: 1px solid;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    pointer-events: all;
}

a.button.dark {
    border-color: #1f1f1f;
    color: #1f1f1f;
}

a.button.dark:hover {
    border-color: #1f1f1f;
    background-color: #1f1f1f;
    color: #ffffff;
}

a.button.light,
body.dark a.button.dark.dynamic {
    border-color: #ffffff;
    color: #ffffff;
}

a.button.light:hover,
body.dark a.button.dark.dynamic:hover {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #1f1f1f;
}

/* Tag */

.tag {
    display: inline-block;
    font-size: 0.9em;
    padding: 0.5em 1em;
    border-radius: 2em;
}

.tag.dark {
    background-color: #1f1f1f15;
    color: #1f1f1f85;
}

.tag.light {
    background-color: #ffffff15;
    color: #ffffff75;
}

/* Fonts and colors */

.text-large, h2 {
    font-family: 'Tiempos Fine'; 
    font-weight: 300; 
    font-style: normal;
    font-size: 1.3em;
    line-height: 1.2em;
    letter-spacing: 0.01em;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 1.3em;
}

h1 {
    font-family: 'Tiempos Fine'; 
    font-weight: 300; 
    font-style: normal;
    font-size: 2em;
    line-height: 1.05em;
    margin-bottom: 1em;
    margin-top: 2.5em;
    letter-spacing: 0.01em;

}

h2 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 0.9em;
    color: #001EFF;
}

p {
    color: inherit;
}

p.intro {
    opacity: 0.5;
    margin-bottom: 0.5em;
}

p.intro.dark {
    color: #1f1f1f;
}

.page h1 {
    width: 100%;
}

div.intro {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 4em;
}

div.intro h3 {
    font-size: 1em;
}

div.intro p {
    color: #1f1f1f85;
    margin-bottom: 1em;
}


/* Container and cards */

.container {
    padding: 16px;
    margin: 0 auto;
    max-width: 1920px;
}

.card {
    opacity: 1;
    border-radius: 16px;
    padding: 24px;
    background-color: #ffffff;
    color: #1f1f1f;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center top;
}

.card h2 {
    font-family: 'Geist';
    margin-top: 0;
    color: inherit;
}

.card .link-full {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-accent {
    background-color: #001EFF;
    color: #ffffff;
}

.bg-dark {
    background-color: #000000;
    color: #ffffff; 
}

.hero {
    background-image: url(../img/hero.jpg);
}

.spline {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.content {
    position: absolute;
    right: 24px;
    bottom: 24px;
    left: 24px;
    z-index: 9;
}

.gradient {
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 128px;
    padding: 24px;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(0, 30, 255, 0) 0%, rgba(0, 30, 255, 0.95) 50%);
    pointer-events: none;
}

/* List */

ul.list {
    margin: 0 0 2em 0;
    padding: 0;
}

ul.list li {
    list-style: none;
    font-size: 1.5em;
    line-height: 1.3em;
    position: relative;
    padding-left: 24px;
}

ul.list li::before,
ul.list li::after {
    content: "";
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    width: 1em;
    background-repeat: no-repeat;
    background-position: left 0.33em;
    transition: all 0.2s ease-in-out;
} 

body.dark ul.list li::before,
body.dark ul.list li::after {
    background-image: url(../img/arrow-right-light.svg);
} 

body.light ul.list li::before,
body.light ul.list li::after {
    background-image: url(../img/arrow-right-dark.svg);
} 

body.light ul.list.dark li::before,
body.light ul.list.dark li::after {
    background-image: url(../img/arrow-right-light.svg);
} 

ul.list li::before {
    left: -1em;
    opacity: 0;
}

ul.list li::after {
    left: 0;
    opacity: 1;
}

ul.list li:hover::before {
    left: 0;
    opacity: 1;
}

ul.list li:hover::after {
    left: 1em;
    opacity: 0;
}

ul.list li span {
    display: block;
    opacity: 0.5;
    margin-bottom: 0.25em;
}


/* Stories */

#nespresso {
    background-image: url(../img/story-thumb-nespresso.jpg);
}

#mews {
    background-image: url(../img/story-thumb-mews.png);
}

#sqli {
    background-image: url(../img/story-thumb-sqli.jpg);
}

#richemont {
    background-image: url(../img/story-thumb-richemont.jpg);
}

/* Swiper */

.author {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    margin-bottom: 1em;
    font-size: 1.2em;
    line-height: 1.3em;
}

.author img {
    width: 4em;
    height: 4em;
    border-radius: 4em;
}

.author div {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.author .name {
}

.author .title {
    opacity: 0.5;
}

.swiper-button-next, .swiper-button-prev {
    display: inline-block;
    font-size: 1em;
    padding: 0;
    border-radius: 4em;
    border: 1px solid;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-color: #1f1f1f;
    color: #1f1f1f;
    bottom: 0;
    top: auto;
    left: auto;
    height: 2.75em;
    width: 2.75em;
    background-repeat: no-repeat;
    background-position: center center;
}

.swiper-button-next:hover, 
.swiper-button-prev:hover {
    background-color: #1f1f1f;
}

.swiper-button-next {
    right: 0;
    background-image: url(../img/arrow-right-dark.svg);
}

.swiper-button-next:hover {
    background-image: url(../img/arrow-right-light.svg);
}

.swiper-button-prev {
    right: 3.2em;
    background-image: url(../img/arrow-left-dark.svg);
}

.swiper-button-prev:hover {
    background-image: url(../img/arrow-left-light.svg);
}

.swiper-button-next:after, .swiper-button-prev:after {
    content: none;
}

.swiper {

}

.swiper p {
    opacity: 0.5;
    font-size: 1.2em;
    line-height: 1.3em;
    padding-bottom: 2em;
    position: relative;
    height: 18em;
    overflow: hidden;
}

.swiper p::after {
    content: "";
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 96px;
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 50%);
    pointer-events: none;
}



/* Menu */

.menu {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-bottom: 16px;
}

body.dark .menu {
    color: #ffffff;
}

body.light .menu {
    color: #1f1f1f;
}

.menu .card,
.footer .card {
    background-color: transparent;
}

body.dark .menu .card,
body.dark .footer .card {
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

body.light .menu .card,
body.light .footer .card {
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    color: #1f1f1f;
}

.brand {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-bottom: 3em;
    text-decoration: none;
}


.brand > div {
    display: flex;
    flex-direction: column;
}

.brand .avatar {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    background-image: url(../img/andrea-pilutti.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.brand .avatar::after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/arrow-left-light.svg);
    background-color: #001EFF;
    border-radius: 4em;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1.2em;
    transition: all 0.2s ease-in-out;
}

.brand.home .avatar::after {
    display: none;
}

.brand:hover .avatar::after {
    background-position: center center;
    opacity: 1;
}

.brand .label .name, 
.brand .label .title,
.brand .label .back {
    transition: all 0.2s ease-in-out;
    font-size: 1em;
    line-height: 1.2em;
    transform: translateY(0.6em);
}

.brand .label .back {
    opacity: 0;
}

.brand:hover .label .name {
    transform: translateY(-0.3em);
    opacity: 0;
}
 
.brand:hover .label .title {
    transform: translateY(-0.6em);
    opacity: 0;
}

.brand:hover .label .back {
    transform: translateY(-1.2em);
    opacity: 1;
}

.brand.home .label .name, 
.brand.home .label .title,
.brand.home .label .back {
    transform: none;
}

.brand.home .label .back {
    display: none;
}

.brand.home:hover .label .name {
    opacity: inherit;
}

.brand.home:hover .label .title,
.brand > div span {
    opacity: 0.5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(30, 30vw);
    grid-gap: 16px;
    transition: all 0.2s ease-in-out;
}

.grid-item-3c-2r {
    grid-column-end: span 3;
    grid-row-end: span 2;
}

.grid-item-2c-4r {
    grid-column-end: span 1;
    grid-row-end: span 4;
}

.grid-item-2c-4r {
    grid-column-end: span 1;
    grid-row-end: span 4;
}

.grid-item-2c-2r {
    grid-column-end: span 1;
    grid-row-end: span 4;
}

.grid-item-1c-3r {
    grid-column-end: span 1;
    grid-row-end: span 4;
}

.grid-item-1c-2r {
    grid-column-end: span 1;
    grid-row-end: span 2;
}

/* Tablet */

@media screen and (min-width: 992px) {

    body {
        font-size:calc(8px + 1vw);
        line-height: calc(8px 1vw);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(16, 30vw);
        grid-gap: 16px;
    }

    .grid-item-2c-4r,
    .grid-item-2c-4r,
    .grid-item-2c-2r {
        grid-column-end: span 2;
    }
    
}

/* Desktop standard */

@media screen and (min-width: 1200px) {

    body {
        font-size: calc(8px + 0.3vw);
        line-height: calc(8px + 0.3vw);
    }

    h1 {
        font-size: 3em;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .menu {
        width: calc(25% - 16px);
        max-width: calc(480px - 16px);
        height: calc(100dvh - 32px);
        float: left;
        position: fixed;
    }
    
    .grid {
        width: calc(75% - 8px);
        margin-left: calc(25% + 8px);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, calc((100dvh / 4) - 20px));
    }

    .grid-item-1c-3r {
        grid-row-end: span 3;
    }

    .grid-item-2c-2r {
        grid-row-end: span 2;
    }

    .page {
        width: calc(75% - 8px);
        margin-left: calc(25% + 8px);
        min-height: calc(100dvh - 32px);
        margin-bottom: 0;
        padding-bottom: 8em;
    }

    .grow {
        flex-grow: 3;
    }

    .accordion .panel a {
        flex-direction: row;
    }

    .accordion .panel div p {
        width: calc(100% / 1.618);
        font-size: 1.2em;
    }

    .accordion .panel a > span:nth-child(2) {
        font-size: 1.2em;
    }

    .accordion .panel a > span:first-child, .text-large {
        font-size: 2em;
        line-height: 1.2em;
    }

    .brand .avatar {
        width: 4.8em;
        height: 4.8em;
    }

    .brand .label .name, 
    .brand .label .title,
    .brand .label .back {
        font-size: 1.2em;
    }

    .page h1 {
        width: calc(100% / 1.618);
    }

    div.intro {
        width: calc(100% / 1.618);
        font-size: 1.5em;
    }

}

/* Desktop tall */

@media screen and (min-height: 1024px) and (min-width: 1200px) {
    .grid {
        grid-template-rows: repeat(10, 200px);
    }
}

/* Desktop tall */

@media screen and (min-height: 1024px) and (min-width: 1440px) {
    .grid {
        grid-template-rows: repeat(10, 236px);
    }
}

/* Touch Devices */

@media (pointer: coarse) {
    #cursor {
      display: none;
    }
}